@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nunito);
img {
    display: block;
    /*centers the image*/
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}

.center {
    display: table;
    margin: 0 auto;
}

.right {
    max-width: 30%;
    float: right;
    padding-left: 10px;
    text-align: center;
    font-size: .7em;
}

.left {
    max-width: 30%;
    float: left;
    padding-right: 10px;
    text-align: center;
    font-size: .7em;
}

nav ul,
footer ul {
    font-family: Montserrat;
    font-weight: normal;
    padding: 10px;
    list-style: none;
    text-transform: lowercase;
}

nav ul li,
footer ul li {
    font-size: 1.1em;
    display: inline;
    margin-right: 20px;
    list-style: square;
    text-transform: lowercase;
}

body {
    max-width: 700px;
    width: 85%;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
}

body li {
    font-family: Nunito;
    font-size: 1.1em;
    font-weight: 500;
    list-style: square;
}

@media only screen and (min-width: 481px) {
    body {
        padding-top: 0px;
        padding-bottom: 48px;
    }
}

a {
    text-decoration: underline;
    color: #222;
}

a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

h1 {
    width: 100%;
    color: #6B6B6B;
    text-transform: uppercase;
    text-align: center;
}

h2,
h3 {
    color: #222;
}

h1,
h2,
h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

article {
    text-align: left-justify;
}

p {
    font-family: Nunito, sans-serif;
    font-weight: 500;
    font-size: 1.0em;
}

article p {
    line-height: 1.4em;
    color: #222;
}

p a {
    color: #222;
    text-decoration: underline;
}

p li {
    font-family: Nunito, sans-serif;
}

p a:hover {
    text-transform: none;
}

p a:visited {
    text-decoration: underline;
}

#nav {
    font-size: 1.1em;
}

footer {
    border-top: 1px solid #6B6B6B;
    font-size: .9em;
    text-align: right;
}
