@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nunito);
img {
    /* centers the image */
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}

.center {
    /* centers the image */
    display: table;
    margin: 0 auto;
}

body {
    max-width: 700px;
    /* margin-left: 0px; */
    width: 85%;
    /* padding-top: 24px; */
    /* padding-right: 24px; */
    /* padding-left: 24px; */
}

@media only screen and (min-width: 481px) {
    body {
        padding-left: 24px;
        padding-top: 0px;
    }
}

nav ul, footer ul {
    font-family: Montserrat;
    font-weight: normal;
    padding: 10px;
    list-style: none;
    font-weight: bold;
    text-transform: lowercase;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-transform: lowercase;
}

a {
    text-decoration: underline;
    color: #222;
}

a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

h1 {
    width: 100%;
    color: #6B6B6B;
    text-transform: uppercase;
    text-align: center;
}

h2, h3 {
    color: #222;
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

p {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}

p a {
    color: #222;
    text-decoration: underline;
}

p a:hover {
    text-transform: none;
}

p a:visited {
    text-decoration: underline;
}

footer {
    border-top: 1px solid #6B6B6B;
    font-size: .8em;
    text-align: right;
}

ul.posts {
    font-family: Montserrat, sans-serif;
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts a {
    text-decoration: underline;
}

ul.posts li {
    list-style: none;
}

/* Pulse */

@keyframes pulse-shrink {
    to {transform: scale(.9);}
}
