<!DOCTYPE html>
<html>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>

		<head>
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">

        <meta name="description" content="Website of Justen Rickert consisting of my school things, mathematics thoughts, and a technology blog.">
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

			  <title>{{ page.title }}</title>

			  <!-- link to main stylesheet -->
			  <link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include ga.html %}
		</head>

		<body>
			  <nav id="nav">
	    		  <ul>
	        		  <li><a href="/">Home</a></li>
		        	  <li><a href="/about">About</a></li>
	        		  <li><a href="/blog">Blog</a></li>
		        	  <li><a href="/etc">Etc</a></li>
	    		  </ul>
			  </nav>

			  <div id="content" class="container">
			      {{ content }}
			  </div><br>

			  <footer id="foot">
	    		  <ul>
	        		  <li><a href="mailto:justenrickert@gmail.com">email</a></li>
	        		  <li><a href="https://github.com/justenrickert">github.com/justenrickert</a></li>
				    </ul>
			  </footer>

        <svg id="monad" class="center" width="100" height="100">
            <circle cx="50" cy="50" r="40" stroke-width="1" stroke="black" fill="white" />
            <circle cx="50" cy="50" r="2" stroke-width="2" stroke="black" fill="black" />
        </svg>
		</body>

    <script>
     /* nav = document.getElementById('nav');*/
     content = document.getElementById('content');
     foot = document.getElementById('foot');
     monad = document.getElementById('monad');

     dX = 2 * (Math.random() - 0.5);
     dY = Math.random();

     TweenMax.from(content, 0.8, {opacity:0, x: 500 * dX, y: 500 * dY, ease: Circ.easeOut});
     TweenMax.from(foot, 1.0, {y: 300, ease: Power4.easeOut});
     TweenMax.from(monad, 3.5, {opacity:0, ease: Bounce.easeOut, delay: 0.5});
    </script>
</html>
